*.a
*.exe
*.idb
*.lib
*.log
*.map
*.ncb
*.pdb
*.pyc
*.scons*
*.so
*.suo
*.user
*.xcodeproj
#*#
*~
.cpplint-cache
shell
shell_g
/build/gyp
/obj/
/test/es5conform/data/
/test/mozilla/data/
/test/sputnik/sputniktests/
/test/test262/data/
/tools/oom_dump/oom_dump
/tools/oom_dump/oom_dump.o
/tools/visual_studio/Debug
/tools/visual_studio/Release
/xcodebuild/
TAGS
*.Makefile
